<div class="bg-[#ff8f3b] h-full flex items-center justify-center">
  <mat-card class="w-full max-w-[500px] px-1 py-5 sm:p-5">
    <mat-card-content>
      <img
        class="hidden sm:block m-auto"
        alt="Logo de ATOM Chat"
        ngSrc="assets/images/logo-atom-chat.png"
        width="350"
        height="100"
        priority
      />
      <img
        class="block sm:hidden m-auto"
        alt="Logo de ATOM Chat"
        ngSrc="assets/images/logo-atom-chat.png"
        width="192.5"
        height="55"
        priority
      />
      <h1 class="text-xl sm:text-2xl font-bold text-center mt-5">Sign In / Sign Up</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full pt-6 pb-0 sm:pt-5 sm:pb-2" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="pat@example.com"
          />
          <mat-icon matSuffix> mail </mat-icon>
          @if (loginForm.get('email')?.hasError('email') &&
          !loginForm.get('email')?.hasError('required')) {
          <mat-error>Ingresa un formato de correo <strong>valido</strong></mat-error>
          } @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>El correo electrónico es <strong>requerido</strong></mat-error>
          }
        </mat-form-field>
        <button type="submit" [disabled]="loginForm.invalid" class="w-full !text-base !py-5" mat-raised-button color="primary">
          Iniciar Sesión
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
